<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
<!--            这里是不同的数据库，分页的方式是不同的，mysql是limit分野。所以这里设置helperDialect-->
<!--            helperDialect：分页插件会自动检测当前的数据库链接，自动选择合适的分页方式。
                你可以配置helperDialect属性来指定分页插件使用哪种方言。配置时，可以使用下面的缩写值：
                oracle,mysql,mariadb,sqlite,hsqldb,postgresql,db2,
                sqlserver,informix,h2,sqlserver2012,derby-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <!--环境-->
<!--    deafult其实就是默认用这个dev开头的环境配置，还可以新建别的id，可以增加多个环境信息，-->
    <environments default="labdevelopment">
        <environment id="development">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
<!--                下面的mybatis指的就是连接的哪一个database，这里是mybatis数据库-->
<!--                <property name="url" value="jdbc:mysql:///mybatis?useSSL=true&amp;userUnicode=true&amp;characterEncoding=UTF-8"/>-->
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true
"/>
                <property name="username" value="root"/>
                <property name="password" value="Mysql2486"/>
            </dataSource>
        </environment>
        <environment id="labdevelopment">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
<!--&lt;!&ndash;            <dataSource type="POOLED">&ndash;&gt;-->
<!--            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--            &lt;!&ndash;                下面的mybatis指的就是连接的哪一个database，这里是mybatis数据库&ndash;&gt;-->
<!--            &lt;!&ndash;                <property name="url" value="jdbc:mysql:///mybatis?useSSL=true&amp;userUnicode=true&amp;characterEncoding=UTF-8"/>&ndash;&gt;-->
<!--            <property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true-->
<!--"/>-->
<!--            <property name="username" value="root"/>-->
<!--            <property name="password" value="root"/>-->
            <dataSource type="dataSource.c3p0DataSourceFactory">
<!--                注意：这些属性的名称和c3p0的要求不符-->
                <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
                <!--                下面的mybatis指的就是连接的哪一个database，这里是mybatis数据库-->
                <!--                <property name="url" value="jdbc:mysql:///mybatis?useSSL=true&amp;userUnicode=true&amp;characterEncoding=UTF-8"/>-->
                <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true
"/>
                <property name="user" value="root"/>
                <property name="password" value="root"/>
                <property name="initialPoolSize" value="5"/>

            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/mapper.xml"/>
        <mapper resource="mappers/BlogMapper.xml"/>
        <mapper resource="mappers/OneToManyMapper.xml"/>
    </mappers>


</configuration>